<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <h1 class="discussion-heading">Dashboard</h1>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item"><span class="dashbord-title"><i class="fa fa-list-alt dashbord-icon"></i><em>The discussion board is built</em><br></span><span>New Function: You can click on Discussion to create a new discussion and leave comment in your discussion. 请点击上方导航栏中的discussion来查看有哪些讨论版或者创建新的讨论版。你可以点击讨论的标题来打开讨论版并留言。</span></li>
            <li class="list-group-item"><span class="dashbord-title"><i class="fa fa-star dashbord-icon"></i><em>Welcome to Emma Game!</em><br></span><span>New Function: Click on Game to play the new sweeper game 请点击上方导航栏中的Game选项来玩扫雷游戏！</span></li>
        </ul>
    </div>
</body>

</html>