<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <h1 class="discussion-heading">Dashboard</h1>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item"><span class="dashbord-title"><i class="fa fa-star dashbord-icon"></i><em>Welcome to Emma Game!</em><br></span><span>New Funtcion: Click on Game to play the new sweeper game 请点击上方导航栏中的Game选项来玩扫雷游戏！</span></li>
        </ul>
    </div>
</body>

</html>