<title>Emma Game Hello!</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
