<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>emma game main pave v2</title>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/styles.css">



<!--
<script type="javascript" src="jquery.min.js"></script>
<script type="javascript" src="authentication.js"></script>
<script type="javascript" src="comment.js"></script>
<script type="javascript" src="discussion.js"></script>
<script type="javascript" src="game-canvas.js"></script>
<script type="javascript" src="game-minesweeper.js"></script>

-->


