<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div>
        <% include ../partials/nav.ejs %>
        <ul class="list-group">
            <li class="list-group-item" id="discussions"><span class="disscussion-title"><a id="discussion-heading" href="discussion-content.ejs">welcome</a></span><span id="discussion-admin" class="discussion-admin">@Emma Wang</span><span id="discussion-description" class="discussion-description">This is a default discussion!</span></li>
        </ul>
    </div>

</body>

</html>