<!DOCTYPE html>
<html>
<head>
  <title>Emma Game Hello!</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>

<body>
<div>
  <nav class="navbar navbar-dark navbar-expand-md bg-primary sticky-top" value="">
    <div class="container-fluid"><a class="navbar-brand" href="dashboard.ejs">Emma Game</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
           id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="nav-item" role="presentation"><a class="nav-link" href="dashboard.ejs">Dashboard</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="discussion.ejs">Disscussion</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="Game/game-minesweeper.html">Game</a></li>
        </ul>
        <ul class="nav navbar-nav" style="margin-left: auto;">
          <li class="nav-item" role="presentation">
            <div class="nav-item dropdown"><a class="dropdown-toggle drop-left" data-toggle="dropdown" aria-expanded="false" href="#"><span class="text-white-50" id="user" style="margin-right: 10px;"></span><img class="profile" src="assets/img/默认头像.jpg"></a>
              <div class="dropdown-menu"
                   role="menu"><a class="dropdown-item active" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 class="discussion-heading">Dashboard</h1>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item"><span class="dashbord-title"><i class="fa fa-star dashbord-icon"></i><em>Welcome to Emma Game!</em><br></span><span>New Funtcion: Click on Game to play the new sweeper game 请点击上方导航栏中的Game选项来玩扫雷游戏！</span></li>
  </ul>
</div>

</body>
</html>
