<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion.js"></script>
</head>

<body>
<div>
    <% include ../../partials/basic/nav-dash.ejs %>
</div>
<div>
    <form>
        <div class="form-group">
            <label for = "discussion-create-topic">Topic</label>
            <input class="form-control" id="discussion-create-topic" placeholder="Enter your topic here">
        </div>
        <div class="form-group">
            <label for = "discussion-create-admin">Administrator</label>
            <input type="text" class="form-control" id="discussion-create-admin" placeholder = "" readonly>
            <script type="text/javascript">
                document.getElementById("discussion-create-admin").innerHTML = document.getElementById("user").innerHTML;
                console.log(document.getElementById("discussion-create-admin").innerHTML);
                console.log(document.getElementById("user").innerHTML);
            </script>
        </div>
        <div class="form-group">
            <label for="discussion-create-description">Description</label>
            <textarea class="form-control" id="discussion-create-description" rows="3"></textarea>
        </div>
    </form>
    <button class="btn btn-primary" type="button" onclick="create_discussion()">Create discussion</button>
</div>

</body>

</html>