<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion.js"></script>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
    </div>
    <div>
        <ul class="list-group" id="discussions"></ul>
        <a href="https://emma-game.herokuapp.com/discussions/create"><i class="fas fa-plus discussion-icon"></i><span>Create a new discussion</span></a>
    </div>

</body>

</html>