<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <h1 class="text-white bg-secondary discussion-heading">#welcome</h1>
    </div>
    <div style="margin-bottom: 44px;">
        <ul class="list-group" id="discussion">
            <li class="list-group-item align-items-xl-start comment"><img class="profile-chat" src="assets/img/默认头像.jpg">
                <div><span class="text-muted d-block">Emma Wang</span><span class="border rounded border-primary shadow-sm d-block message">Hello and welcome to the discussion board! I am the creater of Emma Game. How are you today? You can post any discussion here under different tags. Try it out!&nbsp;</span>
                    <span
                        class="text-muted d-block">08:00 AM | 2020.05.14</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-xl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center sticky-bottom" style="/*position: fixed;*//*left: 0;*//*right: 0;*//*bottom: 0;*/">
        <div class="input-group">
            <div class="input-group-prepend"></div><input class="form-control" type="text" id="input" style="font-size: 20px;" placeholder="Enter your comment here...">
            <div class="input-group-append"><button class="btn btn-primary border rounded-0" type="button" style="font-size: 20px;" onclick="sendmessage()">Send</button></div>
            <% include ../../partials/discussion/content.ejs %>
        </div>
    </div>
</body>

</html>