<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../comment.js"></script>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <h1 class="text-white bg-secondary discussion-heading" id="discussion-header">

        </h1>
    </div>
    <div style="margin-bottom: 44px;">
        <ul class="list-group" id="discussion">

        </ul>
    </div>
    <div class="d-xl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center sticky-bottom" style="/*position: fixed;*//*left: 0;*//*right: 0;*//*bottom: 0;*/">
        <div class="input-group">
            <div class="input-group-prepend"></div><input class="form-control" type="text" id="input" style="font-size: 20px;" placeholder="Enter your comment here...">
            <div class="input-group-append"><button class="btn btn-primary border rounded-0" type="button" style="font-size: 20px;" onclick="sendmessage()">Send</button></div>
        </div>
    </div>
</body>

</html>