<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion.js"></script>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item"><a class="discussion-create-new" href="https://emma-game.herokuapp.com/discussions/create"><i class="fas fa-plus discussion-icon"></i><span>Create a new discussion</span></a></li>
        </ul>
        <ul class="list-group" id="discussions"></ul>
    </div>

</body>

</html>