<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion.js"></script>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <ul class="list-group" id="discussions">
            <li class="list-group-item"><span class="disscussion-title"><a id="discussion-heading" href="https://emma-game.herokuapp.com/discussion/content">#The only discussion that's working</a></span><span id="discussion-admin" class="discussion-admin">@Emma Wang</span><span id="discussion-description" class="discussion-description">This is the only discussion working and by clicking this, you can enter a page where you can comment under this discussion</span></li>
        </ul>
    </div>

</body>

</html>