<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion.js"></script>
</head>

<body>
    <div>
        <% include ../../partials/basic/nav-dash.ejs %>
        <ul class="list-group" id="discussions">

        </ul>
    </div>

</body>

</html>