<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/basic/header.ejs %>
    <script src="../discussion-create.js"></script>
</head>

<body>
<div>
    <% include ../../partials/basic/nav-dash.ejs %>
</div>
<div>
    <form style="margin: 20px">
        <div class="form-group">
            <label for = "discussion-create-topic">Topic</label>
            <input class="form-control" id="discussion-create-topic" placeholder="Enter your topic here">
        </div>
        <div class="form-group">
            <label for = "discussion-create-admin">Administrator</label>
            <input type="text" class="form-control" id="discussion-create-admin" placeholder = "" readonly>
            <script type="text/javascript">

            </script>
        </div>
        <div class="form-group">
            <label for="discussion-create-description">Description</label>
            <textarea class="form-control" id="discussion-create-description" rows="3"></textarea>
        </div>
    </form>
    <button class="btn btn-primary" type="button" onclick="create_discussion()">Create discussion</button>
</div>

</body>

</html>